.form_side_bar .brk-theme-options__panel a {
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 15px;
    flex-direction: row-reverse;
    font-family: arial;
    padding: 0;
    margin-top: 50px;
}
.form_side_bar .brk-theme-options__panel {
    height: 291px;
    width: 70px;
    top: 0px !important;
    left: -70px;
    background: var(--brand-primary);
    transition: ease 1.7s;
    border-radius: 0;
    cursor: pointer;
}
.heading_text_video { 
    top: 0;
    background: linear-gradient(45deg, #baa385, #baa385);
}
.telent_section {
    background: linear-gradient(180deg, white, white, #e4eaeb, #e4eaeb);
}

.play_button span{
	letter-spacing: 10px;
}
.play_button.left_btn a, .play_button.right_btn a {
    width: 180px;
    height: 180px;
    border: 2px solid var(--brand-primary);
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    color: var(--brand-primary);
}
.play_button.right_btn a {
    justify-content: flex-start;
}
.image_caption{
	height: 485px;
}
.image_caption .image_video{
	object-fit: cover;
	padding: 30px 0px;
}
.play_button.left_btn {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: -442px;
    left: 130px;
}
.play_button.left_btn.center_btn {
    margin-top: -560px;
}
.play_button.right_btn {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -472px;
    right: 770px;
}
.stroke_wrap {
    position: relative;
    bottom: 100px;
}
.list_for_tips li i{
 color: var(--brand-primary);
}
.font__size-60{
	font-size: 60px;
}
.line__height-90{
line-height: 90px;
}
.line__height-70{
	line-height: 70px;
}
.line__height-60{
    line-height: 60px !important;
}
.process_title {
    color: var(--brand-primary);
}
.process_title_count {
    font-size: 130px;
    color: var(--brand-primary);
    position: relative;
    top: -65px;
}
.slider-swiper-main > div > div{
	margin-top: -10px;
}
.arrow_btn_left, .arrow_btn_right{
	width: 120px !important;
}
.arrow_btn_left i, .arrow_btn_right i{
	font-size: 50px !important;
}
.slider_process_section .brk-testimonials-layered-horizontal__container .layered-horizontal-slider{
    width:calc(100% - 250px) !important;
}
.slider_footer {
    position: absolute;
    bottom: 0;
    color: var(--brand-primary);
}
.separator_f_slider {
    border-top: 1px solid var(--secondary);
    width: 80%;
}
.faq_section .accordion-simple .arrow, .resource_section .accordion-simple .arrow {
    width: 10px !important;
    height: 10px !important;
    border-top: 2px solid #000 !important;
    border-right: 2px solid #000 !important;
}
.accordion_wrap .arrow {
	border:none !important;
}
.accordion_wrap .expanded .arrow {
    -webkit-transform: translate(-50%,-50%) rotate(-46deg);
    transform: translate(-50%,-50%) rotate(-46deg);
    border-color: var(--brand-primary) !important;
}
.faq_section .accordion_wrap .expanded h5 a, .resource_section .accordion .expanded h5 a{
	color: var(--brand-primary) !important;
}
.faq_section .accordion-simple .card-dash{
	background: #4a5a68;
	opacity: 1;
}
.faq_accordion {
    padding: 100px 0px 260px;
    background-image: url(../../img/circle.png);
    background-size: 420px;
    background-position: top left;
    position: relative;
    top: -50px;
    background-repeat: no-repeat;
}
.download_pdf {
    bottom: 40px;
    left: 0;
}
.download_pdf a {
    color: var(--brand-primary);
    padding-bottom: 16px;
    border-bottom: 1px solid;
}
.apply_sec_div a {
    min-height: 470px;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet-active {
    background: var(--brand-primary) !important;
    position: relative;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet-active:focus{
 outline: none;
}
.swiper-pagination-base-reviews {
    display: flex;
    justify-content: space-around;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet-active:before {
    content: "";
    width: 48px;
    height: 48px;
    background: var(--brk-secondary-2);
    position: absolute;
    z-index: -1;
    top: -19px;
    left: -19px;
    border-radius: 30px;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet {
    background: var(--brk-secondary-2);
    opacity: 1;
    position: relative;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet:last-child::after{
    display: none;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet:after {
    content: "";
    width: 200px;
    height: 4px;
    background: var(--white);
    position: absolute;
    left: 16px;
    top: 3px;
    z-index: -2;
}
.slider_process_section .brk-testimonials-layered-horizontal__container{
    max-width: 1118px !important;
}
.brk-testimonials-layered-horizontal__container .swiper-base-arrow-md{
    top: 40% !important
}
.container-outer1643{
    max-width: 1643px;
    margin: 0 auto;
}
.container-inner875{
    max-width: 875px;
    margin: 0 auto;
}
/**********Resources-css********/
.resource_section .headline {
    margin-top: -180px;
}
.w-60{
    width:60% !important;
}
.resource_wrap_links .anchore_div .arrow_link_a {
    width: 12px;
    height: 12px;
    color: red;
   border-top: 3px solid var(--brand-primary);
    border-right: 3px solid var(--brand-primary);
    position: absolute;
    transform: rotate(45deg);
    right: 20px;
    top: 20px;
}
.anchore_div:nth-child(even) {
    background: #f7f7f7 !important;
}

.selection_div .jq-selectbox__select-text {
    background: var(--brk-secondary-1);
    border-radius: 30px;
    color: #717a82;
}
.selection_div .jq-selectbox__select {
    margin-bottom: 15px;
    background: var(--brk-secondary-1);
}
.brk-form-round .jq-selectbox__dropdown:before{
    background: var(--brk-secondary-1);
}
.brk-form-round .jq-selectbox{
    width: 70% !important;
}
.brk-form-round .jq-selectbox__trigger-arrow {
    top: 20px;
    left: 12px;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px solid var(--brk-secondary-2);
}
.brk-form-round .jq-selectbox__trigger-arrow:before {
    top: -7px;
    border-top: 4px solid var(--brk-secondary-1);
}
.brk-form-round .jq-selectbox__dropdown{
    background-color: var(--brk-secondary-1) !important;
}

.header_btn.brk-library-rendered:focus {
    color: var(--brand-primary);
}
/**********Resources-css********/
/**********cookies-css********/
.cookies_buttons a {
    border-radius: 30px;
    text-transform: capitalize;
}
.cookies_buttons a:hover {
    background: var(--brk-secondary-2) !important;
    color: var(--white);
}
.cookies_box h2{
    color: var(--brand-primary);
}
.cookies_box{
    padding-right: 80px;
    padding-left: 80px;
}
.cookies_box .close_button{
    top: 20px;
    right: 20px;

}
/**********cookies-css********/
/*********home-css-tabs*******/
.tabs_wrap li > span {
    margin-left: 54px;
    font-weight: 100;
    position: relative;
    top: -13px;
}
/*********home-css-tabs*******/
/*********searcher-page*******/
.social_icon.searcher_linkdin i{
    font-size: 30px;
}
.detail_searcher h2{
    font-size: 80px;
}
.text-brand-primary{
    color: var(--brand-primary)
}
.searcher_content p{
    max-width: 512px;
}
.key_skill h2 {
    font-size: 22px;
    transform: rotate(270deg);
    position: absolute;
    left: -6px;
    top: 135px;
}
.key_skill i{
    padding: 6.5px;
}
.key_skill{
    background-color: var(--brk-secondary-2);
}
.my_search_content p{
    max-width: 500px;
}
.learn_more_btn:focus {
    color: var(--brand-primary);
}
.my_search_content {
    z-index: 1;
}
.my_searcher .container, .jan_video .container, .searcher_footer_sec .container {
    background: none;
}
.my_searcher{
    margin-top: -460px;
    margin-right: 44px;
}
.resume_sec .resume_img{
width: 100% !important;
height: 100%;
}
.contact_me_btn a{
    font-size: 43px;
}
.bg-secondary-2{
    background-color: var(--brk-secondary-2) !important;
}
.searcher_bg {
    background: linear-gradient(90deg, rgb(184 161 142 / 0.3) 1px, transparent 1px) 1px 0;
    background-size: 265px 1px;
    background-position: calc(0px);
}
.searcher_mail a{
    cursor: pointer;
}
.play_button.left_btn.play_btn_white {
    justify-content: center !important;
    left: 20px;
    right: 0;
    top: 180px;
    margin:0 !important;
}
.play_button.left_btn.play_btn_white a {
    border-color: var(--white);
    color: var(--white);
    width: 300px;
    height: 300px;
}
.image_caption_vidio img{
    width:100%;
}
.jan_video {
    margin-top: -100px;
}
.about_learn{
    background-color: var(--brk-secondary-2)
}
.learn_more_btn a{
line-height: 30px;
letter-spacing: 1px;
}
.about_contact_info h2{
    font-size: 40px;
    letter-spacing: 2px;
}
.pouse_sec h4{
    font-style: italic;
}
.pouse_sec p{
    color: #7c95ac;
}
.pouse_button a img{
    cursor: pointer;
}
.brk-header__item .header_btn, .language_btn, .learn_more_btn{
    border: 2px solid;
}
.font__weight-500 {
    font-weight: 500;
}
.back_to {
    border-radius: 0;
    background-color: var(--brand-primary);
    padding-left: 50px !important;
}
.back_to:hover{
    color: var(--brk-secondary-2) !important;
}

.brk-header__item:hover .header_btn:hover, .language_btn:hover, .learn_more_btn:hover {
    background-color: var(--brand-primary) !important;
    color: #fff !important;
    border-color: var(--brand-primary);
}
.learn_more_btns .resume_btn{
    border: 0 !important;
}
.entrepreneurs_section > div {
    background: none !important;
}
/******check box****/
.checkbox{
    margin-left: -20px;
}
.checkbox label {
  position: relative;
  margin-right: 10px;
}

.checkbox label::before {
    content: "";
    display: inline-flex;
    width: 18px;
    height: 18px;
    background-color: #fff;
    position: relative;
    box-shadow: inset 0 0 6px -3px rgb(0 0 0 / 0.5);
}
.checkbox label::after {
    display: inline-block;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:disabled + label::after {
  opacity: 0;
}
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
    width: 8px;
    position: absolute;
    left: 5px;
    height: 8px;
    background: #0e2336;
    border-radius: 101px;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #ffffff;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}
.pt-12{
 padding-top: 12px !important;
}
/******check box****/
@media (max-width: 1899px){
    .my_searcher {
    margin-top: -300px;
}
.my_searcher {
    margin-right: 0px;
}
.resume_sec .resume_img {
    height: 100%;
}
}
@media (max-width: 1799px){
.learn_more_btns img {
    margin-left: 15px !important;
    width: 32px;
}
.about_contact_info {
    padding: 50px !important;
}
.about_learn {
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.learn_more_btns.resume_btn{
    padding-left: 50px !important;
    padding-right: 50px !important;
}
}
@media (max-width: 1699px){
    .my_searcher {
    margin-top: -200px;
}
.learn_more_btns.resume_btn a {
    font-size: 20px;
}
.learn_more_btns.learn_about_btn a{
    font-size: 24px;
}
}
@media (max-width: 1598px){
 .key_skill {
    padding: 50px 30px !important;
    margin: 0 !important;
}
.key_skill h2 {
    left: -65px;
    top: 110px;
}
    .my_searcher {
    margin-top: -130px;
}
.my_search_content p {
    max-width: 100%;
}
.my_search_content h2 {
    font-size: 40px !important;
    line-height: 55px;
}
.learn_more_btns a {
    white-space: break-spaces;
    line-height: 35px;
    text-align: left;
}
.learn_more_btns {
    margin: 0 0 0 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.learn_more_btns.resume_btn {
    padding: 50px !important;
}
.about_learn {
    padding: 50px !important;
    padding-top: 95px !important;
}
.about_contact_info{
    padding: 50px !important;
}
/*********Resouces page*****/
.resource_section .stroke_text {
    margin-left: 100px;
}
.resource_section .headline {
    margin-top: 0;
    margin-left: 50px !important;
}
/*********Resouces page*****/
.searcher_mail_jan a {
    font-size: 20px;
}
}

@media (max-width: 1490px){
.learn_more_btns.resume_btn a {
    font-size: 18px;
    line-height: 24px;
}
.learn_more_btns.learn_about_btn a{
    font-size: 22px;
    line-height: 24px;
}
}
@media (max-width: 1475px){
    .my_searcher {
    margin-top: 80px;
}
}
@media (max-width: 1409px){
  .learn_more_btns.learn_about_btn a{
    font-size: 20px;
}
}
@media (max-width: 1330px){
  .learn_more_btns.learn_about_btn a{
    font-size: 18px;
}
.learn_more_btns.resume_btn a {
    font-size: 16px;
}
.searcher_mail_jan a {
    font-size: 17px;
}
}
@media (max-width: 1229px){
.key_skill {
    padding: 50px 10px !important;
}
.play_button.left_btn.play_btn_white a {
    width: 150px;
    height: 150px;
}
.cookies_section .cookies_box br{
    display: none;
}
.play_button.left_btn.play_btn_white i, .play_button.left_btn.play_btn_white span {
    font-size: 16px !important;
}
.about_contact_info h2 {
    font-size: 30px !important;
}
.about_contact_info > a {
    font-size: 28px;
}
/*********Resouces page*****/
.resources_form {
    width: 80% !important;
}
/*********Resouces page*****/
/*********Talent page*****/
.play_button.left_btn a, .play_button.right_btn a{
    height: 130px;
    width: 130px;
}
.learn_more_btns img {
    width: 25px;
}
/*********Talent page*****/
.key_skill ul li {
    font-size: 16px;
}
}
@media (max-width: 991px){
.searcher_content {
    padding-top: 25px !important;
}
.key_skill h2 {
    top: 136px;
}
.key_skill ul li {
    font-size: 18px;
}
.detail_searcher h2 {
    font-size: 50px !important;
    line-height: 50px;
}
.my_searcher .col-lg-4, .jan_video .col-lg-10, .searcher_sectain .col-lg-6 {
    padding-right: 0;
}
.my_search_content{
    padding: 50px !important;
}
.searcher_content > a {
    margin-top: 50px !important;
}
.pouse_sec {
    margin-left: 50px;
}
.searcher_content p{
    max-width: 90%;
}
.key_skill {
    padding: 50px 30px !important;
}
.jan_video {
    margin-top: 75px !important;
}
.play_button.left_btn.play_btn_white{
    top: 125px;
}
.resume_sec > div {
    padding-top: 75px !important;
}
/*********Resouces page*****/
.resource_section .stroke_text {
    margin-left: 0px;
}
.resource_section .row{
    margin-top: 30px !important;
}
.resource_section .headline {
    margin: 40px 0 !important;
}
.resource_section {
    padding-top: 50px !important;
}
.resources_form {
    width: 100% !important;
    margin-top: 50px !important;
}
/*********Resouces page*****/
/*********Talent page*****/
.entrepreneurs_section .responsive_xs_pad, .telent_section .responsive_xs_pad, .means_section .responsive_xs_pad {
    padding: 0 !important;
}
.slider_process_section .headline {
    margin-left: 0 !important;
}
.arrow_btn_left i, .arrow_btn_right i{
    font-size: 30px !important;
}
.arrow_btn_left, .arrow_btn_right {
    width: 70px !important;
    height: 70px !important;
}
.slider_process_section .brk-testimonials-layered-horizontal__container .layered-horizontal-slider {
    width: calc(100% - 150px) !important;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet:after {
    width: 125px;
    left: 14px;
}
.brk-ic-left-slide{
    max-height: auto !important;
    height: auto;
    margin-bottom: 30px;
}
.play_button.right_btn, .play_button.left_btn {
    margin: 0 !important;
    position: absolute;
    left: 0 !important;
    right: 0;
    bottom: 150px;
}
.faq_accordion {
    padding: 0 0px 60px;
    background:none;
    position: static;
}
.download_pdf {
    position: static !important;
    padding-top: 50px;
}
.apply_sec_div a {
    min-height: 430px;
    margin-bottom: 15px;
}
.apply_sec_div h2 {
    font-size: 45px;
}
.telent_section .headline {
    padding-top: 0px !important;
}
.entrepreneurs_section > div > div {
    padding-bottom: 50px !important;
}
.means_section > div > div {
    padding: 0 0px !important;
}
.slider_process_section > div > div {
    padding: 0px 0 50px !important;
}
.faq_accordion {
    margin: 0 20px;
}
/*********Talent page*****/
}
@media (max-width: 767px){
    .play_button.left_btn.play_btn_white a {
    width: 90px;
    height: 90px;
}
.resources_form {
    padding: 40px !important;
}
.play_button.left_btn.play_btn_white i, .play_button.left_btn.play_btn_white span {
    font-size: 10px !important;
    position: relative;
    left: 16px;
}
}
@media only screen and (max-width: 768px) and (min-width: 575px){
.contact_me_btn a {
    font-size: 25px;
}

}
@media (max-width: 768px){
    /********Talent page****/
.arrow_btn_left i, .arrow_btn_right i {
    font-size: 20px !important;
}
.arrow_btn_left, .arrow_btn_right {
    width: 35px !important;
    height: 35px !important;
}
.searcher_bg {
    background-size: 74px 1px;
}
.process_title {
    font-size: 20px;
    line-height: 18px;
}
.brk-testimonials-layered-horizontal__comment {
    font-size: 14px !important;
    line-height: 1.4;
}
.slider_process_section .brk-testimonials-layered-horizontal__container .layered-horizontal-slider {
    width: calc(100% - 77px) !important;
}
.process_title_count {
    font-size: 50px;
    top: -30px;
}
.brk-testimonials-layered-horizontal__item {
    padding-top: 15px;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet:after {
    width: 90px;
    left: 14px;
}
.entrepreneurs_section > div > div {
    padding-bottom: 0px !important;
}
.accordion_wrap h5 a {
    font-size: 16px !important;
}
.slider_process_section .headline h4 {
    font-size: 35px;
    line-height: 45px;
}
.brk-ic-left-slide{
    margin-bottom: 0 !important;
}
.play_button.right_btn, .play_button.left_btn{
    bottom: 115px;
}
.stroke_wrap {
    bottom: 30px;
}
.telent_section > div > div {
    padding-bottom: 50px !important;
}
.entrepreneurs_section {
    padding-bottom: 30px;
    padding-top: 20px;
}
.apply_sec_div h2 {
    font-size: 35px;
}
.accordion_wrap p{
    font-size: 14px;
    line-height: 1.4;
   }
.accordion_wrap .card-block{
    padding: 15px 0px !important;
}
/********Talent page****/
}
@media only screen and (max-width: 575px){
    #my_search_heading {
    font-size: 25px !important;
    line-height: 35px;
    word-break: break-word;
}
.my_search_content {
    padding: 30px !important;
}
.learn_more_btns.resume_btn {
    padding: 30px !important;
}
.contact_me_btn a {
    font-size: 25px;
}
.about_learn {
    padding: 30px !important;
    padding-top: 50px !important;
}
.pouse_sec {
    margin-left: 12px;
}
/********Side_bar_contact*****/
.links_buttons .function_btn {
    margin: 0 0 15px 0;
}
.form_side_bar .get_title h2 {
    font-size: 30px !important;
    line-height: 44px;
}
.links_buttons {
    padding-top: 25px !important;
}
.form_side_bar .co_investors_form{
    padding: 0 !important;
}
.form_side_bar .get_title br {
    display: none;
}
.resources_form {
    margin-top: 20px !important;
}
.brk-theme-options.form_side_bar {
    margin-right: -20px;
}
.form_side_bar .brk-theme-options__panel {
    left: -90px;
}
.brk-theme-options__close {
    right: 20px;
}
.form_side_bar .brk-theme-options__control {
    padding: 20px 20px !important;
}
.form_side_bar .label_staric {
    right: -10px;
    font-size: 35px;
}
.form_side_bar .investors_contact_form input.form-control {
    height: 50px;
    font-size: 14px;
}
.selection_div.s_side .jq-selectbox {
    width: 60% !important;
}
.form_side_bar  .arrow_link {
    margin-right: 15px;
}
/********Side_bar_contact*****/
/********Talent page****/
.brk-testimonials-layered-horizontal__comment {
    font-size: 12px !important;
    line-height: 1.4;
}
.slider_footer {
    padding: 0px 14px;
}
.slider_process_section .stroke_text {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.means_section .headline h4, .slider_process_section .headline h4 {
    font-size: 22px !important;
    line-height: 36px !important;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet-active:before {
    width: 30px;
    height: 30px;
    top: -10px;
    left: -10px;
}
.apply_sec_div h2 {
    font-size: 25px;
}
.apply_sec_div a {
    min-height: 290px;
}
.download_pdf a {
    padding-bottom: 10px;
    font-size: 16px;
}
.means_section .stroke_text {
    text-align: left !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.accordion_wrap .card-header{
    padding-right: 25px;
}
.apply_section a {
    padding: 25px !important;
}
.apply_section .arrow_link img {
    position: relative;
    right: 8px;
    bottom: 6px;
}

/********Talent page****/
.about_learn p {
    font-size: 14px;
}
}
@media (max-width: 475px){
    .play_button.left_btn.play_btn_white {
    top: 70px;
}
.resources_form {
    padding: 40px 20px !important;
}
.learn_more_btns.resume_btn a {
    font-size: 12px;
}
.key_skill ul li {
    font-size: 14px;
}
.learn_more_btns.learn_about_btn a {
    font-size: 14px;
}
.jan_title{
    display: block !important;
}
.jan_title h3{
    margin-left: 0 !important;
}
.get_touch_main {
    padding: 40px 20px 20px !important;
}
.resources_form_side {
    padding: 0 30px 0 0 !important;
}

.links_buttons .function_btn {
    margin: 0 0 10px 0;
    padding: 8px 25px !important;
}
.get_in_touch_content p {
    font-size: 16px;
}
.form_side_bar #header_co_investors_contact_form {
    padding-right: 30px;
}
.resource_wrap_links .anchore_div .arrow_link_a{
    top: 24px;
}
.accordion_wrap h5 a {
    font-size: 14px !important;
}
.accordion_wrap {
    margin-top: 0 !important;
}
.accordion_wrap p{
    font-size: 12px;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet:after {
    width: 65px;
}
.play_button.right_btn, .play_button.left_btn {
    bottom: 70px;
}
.play_button.left_btn a, .play_button.right_btn a {
    height: 100px;
    width: 100px;
}
.play_button.left_btn i, .play_button.right_btn i {
    font-size: 14px;
}
.play_button.left_btn span, .play_button.right_btn span {
    font-size: 10px;
    letter-spacing: 4px;
}
.slider_footer p {
    line-height: 1.2;
}
.contact_me_btn {
    padding-left:10px !important;
}
.contact_me_btn a {
    font-size: 20px;
}
}
@media (max-width: 415px){
.my_searcher ul li{
    font-size: 16px !important;
}
.links_buttons .function_btn {
    margin: 0 0 10px 0;
    padding: 8px 20px !important;
}
.swiper-pagination-base-reviews .swiper-pagination-bullet:after {
    width: 45px;
}
.form_side_bar .brk-theme-options__panel{
    height: 230px !important;
}
.form_side_bar .investors_contact_form input.form-control {
    height: 55px;
}
}
/*********searcher-page*******/
